body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
h1{
  margin: 0;
  box-shadow: inset 0.5rem 0.5rem rgba(0, 0, 0, 0.138) ;
  padding: 0.5rem;
  background-color: crimson;
  color: aliceblue;
  text-shadow: 0.1rem 0.1rem blueviolet;
  text-align: center;
}

#hello-btn-conti{
  display: flex;
  justify-content: center;
}